<h1 class="title is-2"><%= @type.name %></h1>

<% content_for(:html_title) {@type.name} %>

<p class="mb-5">
  This type has <%= @type.animes.count %> on MyAnimeList.
</p>

<ul>
  <% @type.animes.each do | anime |%>
    <li>
      <%= link_to anime.name, anime %> with score of <%= anime.score %>
    </li>
  <% end %>
</ul>