<h1>Dibby</h1>
<%# <p>Find me in app/views/animes/index.html.erb</p> %>

<% @animes.each do | anime | %>
  <li>
  <%= link_to anime.name, anime %> is a <%= link_to anime.type.name %>
  </li>
<% end %>