<footer class="footer has-background-black">
  <div class="content has-text-centered">
    <p class="has-text-white title is-5">
      <strong>Bulma</strong> by <span class="has-text-info">David Montanez</span>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
