<footer>
  <ul>
    <li>
      <%= link_to "Home", root_path %>
    </li>

    <li>
      <%= link_to "Anime", animes_path %>
    </li>

    <li>
      <%= link_to "Type", types_path %>
    </li>

    <% cms_pages.each do | page | %>
      <li>
        <%= link_to page.title, permalink_path(page.permalink) %>
      </li>
    <% end %>
  </ul>
</footer>