<footer>
  <ul>
    <li>
      <%= link_to "Home", root_path %>
    </li>

    <li>
      <%= link_to "Anime", animes_path %>
    </li>

    <li>
      <%= link_to "Type", types_path %>
    </li>
  </ul>
</footer>